.container
{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    margin: 0px auto;
}
img{
    width: 90%;
    height: 290px;
    object-fit: fill;
    filter:contrast(115%);
    margin: 0px auto;
    mar
}

